.large-text {
  font-size: 21px;
}

.center-align {
  align: center !important;
  text-align: center !important;
}

.expand-while-text input[type='text'] {
  transition: width 0.4s ease-in-out;
  width: 500px !important;
}

.expand-while-text input[type='text']:focus {
  transition: width 0.4s ease-in-out;
  width: 700px !important;
}
.expand-while-text input[type='text']:not(:placeholder-shown) {
  transition: width 0.4s ease-in-out;
  width: 700px !important;
  border: 3px solid green !important;
}

.search-box input{
  width: 350px;
  height: 50px;
  outline: none;
  border: 3px solid red !important;
}

.name {
  z-index: 3;
  margin-top: -60px;
}

.xxlarge-text {
  font-size: 48px;
}

.search-button {
  font-size: 24px;
  margin-top: 60px;
}

.prod-image-container {
  height:250px;
  object-fit: contain;
  max-height: 250px;
  padding:8px
}

.prod-image {
  height: 100%;
  padding: 8px;
}

.prod-name {
  height: 100px;
}

.prod-price,
.prod-service {
  height: 50px;
}
