<!DOCTYPE html>
<html lang="en">
<head>
<title>Start Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <div class="w3-main">
  <!-- Top menu on small screens -->
  <header class="w3-bar w3-top w3-black w3-xlarge">
    <a href="/" class="w3-bar-item w3-btn w3-padding-24 w3-wide">SYNKRINO</a>
    <a href="#footer" class="w3-bar-item w3-padding-24 w3-button w3-right">About</a>
  </header>

    <div class="w3-container">
      <div class="w3-container" style="margin-top:100px">
         <div class="w3-display-middle name w3-cursive xxlarge-text w3-mobile">
          Synkrino
        </div>

        <form method="POST" action="/search">
          <div class="search-box expand-while-text w3-display-middle w3-mobile">
            <input type="text" name="product" placeholder="Search!!!" class="w3-panel w3-border w3-round-xxlarge w3-border-red" autocomplete="off" required>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
